body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
@media (max-width: 768px) {
  .main-container {
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 600px) {

  .MuiGrid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiCard-root {
    width: 100px !important;
    height: 120px !important;
    margin: auto !important;
  }
}